
@{
    ViewData["Title"] = "Access Denied";
}

<h1 class="text-danger">Access Denied</h1>

<p>The action you attempted to perform has been restricted</p>
<p>Verify you have permissions or contact your System Administrator</p>