<div class="col-md-6 offset-md-3">
    <span class="anchor" id="formResetPassword"></span>
    <!-- form card reset password -->
    <div class="card card-outline-secondary">
        <div class="card-header">
            <h3 class="mb-0">Password Reset</h3>
        </div>
        <div class="card-body">
            <form class="form" role="form" autocomplete="off" asp-action="PasswordReset" asp-controller="Login" method="post">
                <div class="form-group">
                    <label for="inputResetPasswordEmail">Email</label>
                    <input type="email" class="form-control" id="inputResetPasswordEmail" name="inputResetPasswordEmail" required="">
                    <span id="helpResetPasswordEmail" class="form-text small text-muted">
                        Password reset instructions will be sent to this email address.
                    </span>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success float-right" value="Reset"/>
                </div>
            </form>
        </div>
    </div>
</div>