<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UtilityBilling</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/sidebar_style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="~/fonts/font-awesome.min.css">
    <link href="~/css/index_buttons.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site_modal.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<body>
    @{
        var pagePath = Context.Request.Path;
    }
    @pagePath
    <partial name="_MenuTest" model="new MenuModelData { User = Context.User, PagePath = pagePath }" />

    <div id="content" style="padding:0 0 0 0;">
        <form method="post">
            <div style="padding:0 0 0 0;">
                <nav class="navbar navbar-light navbar-expand-md navigation-clean-button" style="padding:0 0 0 0;background-color:#343A40;">
                    <button type="button" title="Toggle" id="sidebarCollapse" class="hd_btn">
                        <i class="fa fa-exchange"></i>
                    </button>
                    <div class="navbar-collapse" id="navcol-1" style="padding:0 10px 0 0;">
                        <span class="nav navbar-nav ml-auto">
                            @if (Context.User.Claims.Count() > 0)
                            {
                                <span class="btn" style="color:white;height:40px;vertical-align:middle;">@Context.User.Identity.Name</span>
                                <button title="Logout" formaction="/Home/Logout" class="hd_btn">
                                    <i class="fa fa-sign-out"></i>
                                </button>
                            }
                            else
                            {
                                <button title="Login" formaction="/Home/Login" class="hd_btn">
                                    <i class="fa fa-sign-in"></i>
                                </button>
                            }
                        </span>
                    </div>
                </nav>
            </div>
        </form>
        <div class="container" style="margin-left:0px;">

            <partial name="_CookieConsentPartial" />
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        <!-- The Modal -->
        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <span id="myModalClose" class="close">&times;</span>
                <div id="popDisplay"></div>
            </div>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2019 -
                UtilityBilling Version 0.1  -  On <span id="currentOS"></span> - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                <script>
                    function getMobileOperatingSystem() {
                        var userAgent = navigator.userAgent || navigator.vendor || window.opera;

                        // Windows Phone must come first because its UA also contains "Android"
                        if (/windows phone/i.test(userAgent)) {
                            return "Windows Phone";
                        }

                        if (/android/i.test(userAgent)) {
                            return "Android";
                        }

                        // iOS detection from: http://stackoverflow.com/a/9039885/177710
                        if (/iPad|iPhone|iPod/.test(userAgent) && !window.MSStream) {
                            return "iOS";
                        }
                        if (/windows/i.test(userAgent)) {
                            return "Windows";
                        }
                        return "unknown - " + userAgent;
                    }
                    window.load = document.getElementById('currentOS').innerHTML = getMobileOperatingSystem();
                </script>
            </div>
        </footer>
    </div>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>
    <script src="~/js/site_ajax.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
