@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model MenuModelData 
@inject CableSubContext context
@{
UtilityBilling.Code.MainMenu mm = new UtilityBilling.Code.MainMenu(context, Model);
var mainmenu = mm.CreateMainMenu();
}
<header>
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <img alt="UtilityBilling" style="width:200px; " src="~/images/Logo.png" />
        </div>
        @Html.Raw(mainmenu)
    </nav>
</header>